@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html { font-size: 16px; }
	body {
		font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
		color: #1f2937; /* gray-800 */
		background-color: #f8fafc; /* gray-50 */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	h1, h2, h3 { line-height: 1.25 }
}

@layer utilities {
	.container-max { max-width: 960px; }
}
